

.submit-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.submit{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}



.footer{
    margin: 2rem auto 2rem  auto;
}